body{
    background-color: black;
    color: white;
}
.header{
    background-color: black;
    position: fixed; 
    display: flex; 
    top: 0;
    flex-direction: row; 
    width: 100%; 
    border: 1px solid black; 
    color:white;
}
.nav-left{
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    font-size: 20px;
}
.nav-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;  
  gap: 18px;                  
  flex: 1;  
}
.icon {
  font-size: 22px;
  color: #dcdcdc; 
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  justify-content: space-evenly;

}

.icon:hover {
  color: #ffcc00; 
  transform: scale(1.1);
}
.hero{
    display: flex;
    flex-direction: row;
    padding: 80px 100px;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    top: 10px;
}
.hero-text{
    padding-top: 0%;
    padding-left: 20px;
    align-items: center;
    color: white;

}
.hero-text a{
    line-height: 0px;
    font-size: 18px;
}
.hero-text h1{
    line-height: 45px;
    font-size: 68px;


}
.hero-text p{
    line-height: 10px;
    font-size: 25px;
    font: bold;

}
.hero-text button{
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 20px;
    width: 100px;
    height: fit-content
}
.hero-text button:hover{
    color: rgb(red,white,white);
}
.hero-text del{
    color:gray;
}
.hero-img{
    padding-right: 120px;
    width: 450;
    height: 450;
}
.products{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;

}
.cart1{
    justify-content: center;
    background-color: black;
    align-items: center;
    margin: 3px;
    border: 2px solid black;
    width: 400px ;
    height: 400px;

}
.cart2{
    justify-content: center;
    background-color: black;
    align-items: center;
    margin: 3px;
    border: 2px solid black;
    width: 400px ;
    height: 400px;

}
.cart3{
    justify-content: center;
    background-color: black;
    align-items: center;
    margin: 3px;
    border: 2px solid black;
    width: 400px ;
    height: 400px;

}
.cart-img{
    border-radius: 20px;
    background-color: black;
    width: 200px;
    height: 200px;
}
.cart-title1{
    color: gray;
    font-size: 20px;

}
.cart-title2{
    color: gray;
    font-size: 20px;
}
.cart-title3{
    size: 30px;
    color: gray;
    font-size: 20px;
}
.cart-img img{
    background-color: #000000;
}
.cart-img p{
    color: white;
    font:bold;
    
}
.cart-img p del{
    color: gray;
    font:bold;
    
}
.category{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
    align-items: center;

}
.category a{
    text-decoration: none;
    color:white;
    font-size: 18px;
}
.category a:hover{
    background-color:rgb(255, 0, 0);
}
.allproducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tcart{
    margin: 8px;
    margin-left: 40px;
    padding: 10px;
    border: 1px solid #2b2b2b;


}
.tcart del{
    color: gray;
    font: bold;
}
.tcart-brow a{
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 25px;
}
.tcart-img p{
    color: gray;
}

.tcart button{
    background-color: rgb(255,0,0);
    color: white;
    font-size: 15px;
    width: 280px;
    height: auto;
}
.tcart button:hover{
    color: gray;
}
.advantages{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}
.advlist{
    display: flex;
}
.advtext h4{
    font-size: 18px;

}
.advtext a{
    line-height: 0;
    font-size: 12px;
    color: gray;

}
.service{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.ser{
    width: 300px;
}

.email{
    background-color: black;
    color: gray;
}
.ser a,p{
    text-decoration: none;
    color: gray;
}
.ser a:hover{
    color: red;
}
.ser button:hover{
    background-color: red;
}
hr{
    color: gray;
}
.footer{
    background-color: #000000;
    width: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fleft{
    display: flex;
    flex: flex-start;
}
.fright{
    display: flex;
    flex: flex-end;
    align-items: center;
    justify-content: space-evenly;
}
.fright img{
    color: white;
}
@media (max-width: 600px) {

  .header {
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
  }

  .nav-right {
    justify-content: center;
    gap: 25px;
  }

  .hero {
    flex-direction: column;
    padding: 20px;
    height: auto;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .hero-img {
    padding: 0;
  }

  .hero-img img {
    width: 250px;
    height: auto;
  }

  .products {
    flex-direction: column;
    align-items: center;
  }

  .cart1, .cart2, .cart3 {
    width: 90%;
    height: auto;
  }

  .advantages {
    flex-direction: column;
    gap: 15px;
  }

  .service {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .fright {
    justify-content: center;
  }
}
