body {
  background-color: black;
  color: white;
}

.header {
  background-color: black;
  position: fixed;
  display: flex;
  top: 0;
  flex-direction: row;
  width: 100%;
  border: 2px solid black;
  color: white;
}

.nav-left {
  left: 0;
  top: 0;
  font-size: 22px;
}

.nav-right {
  text-decoration: none;
  padding-left: 180vb;
  gap: 22px;
  left: 0;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 22px;
  color: #dcdcdc;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  justify-content: space-evenly;
}

.icon:hover {
  color: #ffcc00;
  transform: scale(1.1);
}

.jblproduct {
  display: flex;
  flex-direction: row;
}

.sideview {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.des {
  width: 65%;
}

hr {
  color: gray;
}

.jblimg {
  border: 2px solid #2b2b2b;
  margin-bottom: 5px;
}

.offernote {
  flex-direction: column;
}

.innerbtn {
  margin-left: 65px;
  background-color: green;
  color: white;
}

.off1 {
  padding: 5px;
  margin-left: 5px;
  width: fit-content;
  height: fit-content;
  border: 2px solid #2b2b2b;
  flex-direction: row;
}

.cartbtn {
  background-color: red;
  color: white;
  width: 170px;
  height: 28px;
}

.details {
  display: flex;
  flex-direction: row;
}

.fea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
    margin: 5px;
    align-items: center;
}

.fea a {
    text-decoration: none;
    color:white;
    font-size: 18px;
}

.fea a:hover {
    background-color:rgb(255, 0, 0);
}

.allproducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.d1{
    padding-left: 30px;
}

.tcart {
  margin: 8px;
  margin-left: 40px;
  padding: 10px;
  border: 1px solid #2b2b2b;
}

.tcart del {
  color: gray;
  font-weight: bold;
}

.tcart-img p {
  color: gray;
}

.tcart button {
  background-color: red;
  color: white;
  font-size: 15px;
  width: 280px;
  height: auto;
}

.tcart button:hover {
  color: gray;
}

.advantages {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.advlist {
  display: flex;
}

.advtext h4 {
  font-size: 18px;
}

.advtext a {
  line-height: 0;
  font-size: 12px;
  color: gray;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ser {
  width: 300px;
}

.email {
  background-color: black;
  color: gray;
}

.ser a,
p {
  text-decoration: none;
  color: gray;
}

.ser a:hover {
  color: red;
}

.ser button:hover {
  background-color: red;
}

.footer {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fleft {
  display: flex;
  flex: flex-start;
}

.fright {
  display: flex;
  flex: flex-end;
  align-items: center;
  justify-content: space-evenly;
}

.fright img {
  color: white;
}
