<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./jbllive660nc.css" />
  <title>JBL Live 660NC | Tech-Shop</title>
</head>
<body>
  <div class="header">
    <div class="nav-left">Tech-Shop</div>
    <div class="nav-right">
      <a href=""><i class="icon">&#128269;</i></a>
      <a href=""><i class="icon">&#128722;</i></a>
      <a href=""><i class="icon">&#128100;</i></a>
    </div>
  </div>

  <br /><br /><br /><br />

  <div class="jblproduct">
    <div class="sideview">
      <div class="jblimg">
        <img src="../images/jbl_live_660nc-removebg-preview.png" width="80" height="80" />
      </div>
      <div class="jblimg">
        <img src="../images/jbllive660nc_full-removebg-preview.png" width="80" height="80" />
      </div>
      <div class="jblimg">
        <img src="../images/jbllive660ncflatpic-removebg-preview.png" width="80" height="80" />
      </div>
      <div class="jblimg">
        <img src="../images/jbllive660nc_sidepic-removebg-preview.png" width="80" height="80" />
      </div>
    </div>

    <div class="pimg">
      <img src="../images/jbl_live_660nc-removebg-preview.png" width="800" height="800" />
    </div>

    <div class="des">
      <h1>JBL LIVE 660NC</h1>
      <p>Wireless Over-Ear NC Headphones</p>
      <p>⭐⭐⭐⭐⭐ | 2025 Ratings</p>
      <hr />
      <h1>₹9,999 <del style="color: gray;">₹14,999</del></h1>
      <p style="color: green;">
        You save ₹5,000 (33%)
        <button class="innerbtn">✅ In Stock</button>
      </p>
      <p>{Inclusive of all taxes}</p>
      <hr />

      <div class="offernote">
        <h3>Offers and Discounts</h3>
        <div class="off1">No Cost EMI on Credit Card</div>
        <div class="off1">Pay Later &amp; Avail Cashback</div>
      </div>

      <br /><br />
      <hr /><br />
      <button class="cartbtn">Add to Cart</button>
    </div>
  </div>

  <div class="fea">
    <a href="">Specifications</a>
    <a href="">Overview</a>
    <a href="">Reviews</a>
  </div>

  <div class="details">
    <div>
      <p>Brand</p>
      <p>Model</p>
      <p>Generic Name</p>
      <p>Headphone Type</p>
      <p>Connectivity</p>
      <p>Microphone</p>
    </div>
    <div class="d1">
      <p>JBL</p>
      <p>JBL Live 660NC</p>
      <p>Headphones</p>
      <p>Over Ear</p>
      <p>Wireless</p>
      <p>Yes</p>
    </div>
  </div>

  <br /><br />
  <center><h1>Related Products</h1></center>
  <br />

  <div class="allproducts">
    <div class="tcart">
      <div class="tcart-img">
        <img src="../images/jbl_live_660nc-removebg-preview.png" width="250" height="250" /><br />
        <a href=""><span style="color: #ff0000;">⭐⭐⭐⭐⭐</span></a>
        <h3>JBL LIVE 660NC</h3>
        <p>Wireless Over-Ear NC Headphones</p>
      </div>
      <p>₹9,999 <del>₹14,999</del></p>
      <button>Add to Cart</button>
    </div>

    <div class="tcart">
      <div class="tcart-img">
        <img src="../images/boat_rockerz-removebg-preview.png" width="250" height="250" /><br />
        <a><span style="color: #ff0000;">⭐⭐⭐⭐⭐</span></a>
        <h3>boAt Rockerz 518</h3>
        <p>On-Ear Wireless Headphones</p>
      </div>
      <p>₹1,299 <del>₹3,990</del></p>
      <button>Add to Cart</button>
    </div>

    <div class="tcart">
      <div class="tcart-img">
        <img src="../images/boat_rockerz410-removebg-preview.png" width="250" height="250" /><br />
        <a><span style="color: #ff0000;">⭐⭐⭐⭐⭐</span></a>
        <h3>boAt Rockerz 410</h3>
        <p>Bluetooth &amp; Wired On-Ear Headphones</p>
      </div>
      <p>₹1,599 <del>₹2,990</del></p>
      <button>Add to Cart</button>
    </div>

    <div class="tcart">
      <div class="tcart-img">
        <img src="../images/sony_wh-xb910n-removebg-preview.png" width="250" height="250" /><br />
        <a><span style="color: #ff0000;">⭐⭐⭐⭐⭐</span></a>
        <h3>Sony WH-XB910N</h3>
        <p>Wireless Over-Ear Headphones</p>
      </div>
      <p>₹13,489 <del>₹19,990</del></p>
      <button>Add to Cart</button>
    </div>
  </div>

  <div class="advcontainer">
    <center><h1>Our Advantages</h1></center>
    <div class="advantages">
      <div class="advlist">
        <div class="ion-img">
          <img src="../images/icons8-truck-24.png" width="50" height="50" />
        </div>
        <div class="advtext">
          <h4>Express Delivery</h4>
          <a>Ships in 24 Hours</a>
        </div>
      </div>

      <div class="advlist">
        <div class="ion-img">
          <img src="../images/icons8-protect-26.png" width="50" height="50" />
        </div>
        <div class="advtext">
          <h4>Brand Warranty</h4>
          <a>100% Original Products</a>
        </div>
      </div>

      <div class="advlist">
        <div class="ion-img">
          <img src="../images/icons8-tags-64.png" width="50" height="50" />
        </div>
        <div class="advtext">
          <h4>Exciting Deals</h4>
          <a>On All Prepaid Orders</a>
        </div>
      </div>

      <div class="advlist">
        <div class="ion-img">
          <img src="../images/icons8-credit-card-50.png" width="45" height="45" />
        </div>
        <div class="advtext">
          <h4>Secure Payments</h4>
          <a>SSL/Secure Certificate</a>
        </div>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="service">
    <div class="ser">
      <h3>Tech-Shop</h3>
      <p>Subscribe to our Email alerts to receive early discount offers and new products info.</p>
      <input type="text" class="email" placeholder="Email Address" name="email" /><br /><br />
      <button>Subscribe</button>
    </div>

    <div class="ser">
      <h3>Help</h3>
      <a href="">FAQs</a><br />
      <a href="">Track Order</a><br />
      <a href="">Cancel Order</a><br />
      <a href="">Return Order</a><br />
      <a href="">Warranty Info</a>
    </div>

    <div class="ser">
      <h3>Policies</h3>
      <a href="">Return Policy</a><br />
      <a href="">Security</a><br />
      <a href="">Sitemap</a><br />
      <a href="">Privacy Policy</a><br />
      <a href="">Terms &amp; Conditions</a>
    </div>

    <div class="ser">
      <h3>Company</h3>
      <a href="">About Us</a><br />
      <a href="">Contact Us</a><br />
      <a href="">Service Centers</a><br />
      <a href="">Careers</a><br />
      <a href="">Affiliates</a>
    </div>
  </div>

  <br />
  <hr />

  <div class="footer">
    <div class="fleft">
      <p>@2025 All Rights Reserved by <mark>Pavan Babu Goulikar</mark></p>
    </div>
    <div class="fright">
      <a href=""><img src="../images/icons8-facebook-48.png" width="30" height="30" /></a>
      <a href=""><img src="../images/icons8-twitter-bird-48.png" width="30" height="30" /></a>
      <a href=""><img src="../images/icons8-instagram-logo-94.png" width="30" height="30" /></a>
      <a href=""><img src="../images/icons8-linkedin-64.png" width="30" height="30" /></a>
    </div>
  </div>
</body>
</html>
