<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style1.css">

    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="nav-left">
            Tech-Shop
        </div>
        <div class="nav-right">
        
            <a href=""><i class="icon">&#128269;</i></a> 
            <a href=""></a><i class="icon">&#128722;</i></a>    
            <a href=""><i class="icon">&#128100;</i></a>
            </div>
        </div>

    </div>
    <br>
    <br>
    <div class="container">

        <div class="form">
            <form>
                <center>
                <h1>SignUp</h1><br>
                <p>Already have an account? <a href="" style="text-decoration: none; color: white;">Login</a></p><br>
                <input type="text" name="username" placeholder="Username" required><br>
                <input type="email" placeholder="Email" name="email" required><br>
                <input type="password" placeholder="Password" required  name="password"> <br>
                <input type="password" placeholder="Confirm Password" name="cpass" required><br>
                <button class="button1">SignUp</button><br>
                <p>or login with</p><br>
                <div class="social">
                <button class="fb">Facebook</button> <button class="gg">Google</button> <button class="tw">Twitter</button>
            </div>
            </form>

        </div>
    </center>
    </div>

    
</body>
</html>