body{
    background-color: black;
    color: white;
}
.header{
    background-color: black;
    position: fixed; 
    display: flex; 
    top: 0;
    flex-direction: row; 
    width: 100%; 
    border: 2px solid black; 
    color:white;
}
.nav-left{
    left: 0;
    top: 0;
    font-size: 22px;
}
.nav-right{
    text-decoration: none;
    padding-left: 180vb;
    gap: 22px;
    left: 0;
    justify-content: space-between;
    align-items: center;
}
.icon {
  font-size: 22px;
  color: #dcdcdc; 
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  justify-content: space-evenly;

}

.icon:hover {
  color: #ffcc00; 
  transform: scale(1.1);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 450px;
    margin: auto;
    padding: 25px 30px;
    border: 2px solid #2b2b2b;
}
.form input{
    margin: 8px;
    background-color: black;
    color: gray;
    border: 2px solid white;
    padding: 15px 15px;
}
.button1{
    background-color: rgb(255, 0,0);
    color:white;
    font: bold;
    font-size: 15px;
    width: 200px;
    height: 35px;

}
.social{
    flex-direction: column;
    justify-content: space-between;
}
.fb{
    width: 90px;
    height: 30px;
    background-color: blue;
    color: white;

}
.gg{
    width: 90px;
    height: 30px;
    background-color: red;
    color: white;

}
.tw{
    width: 90px;
    height: 30px;
    background-color: skyblue;
    color: white;

}
.fb:hover{
    color:gray;
}